/* -------------------- */
/* Properties           */
/* -------------------- */
:root {
    --ff-board: {

    }
}

/* -------------------- */
/* Reset/setup          */
/* -------------------- */
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Set up the body as a grid with header and main */
body {
    display: grid;
    grid-template-rows: min-content 1fr;
    line-height: 1.5;
    min-height: 100vh;
    overflow: hidden;
}

button {
    font: inherit;
}

/* Remove animations for people who've turned them off (accessibility) */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* -------------------- */
/* Utility classes      */
/* -------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* -------------------- */
/* Components           */
/* -------------------- */

#board {
    --gap: .5rem;
    align-self: center;
    background-color: black;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-self: center;
}

#board > * { 
    background-color: white;
    border: none;
    cursor: pointer;
    height: min(20vw, 8rem);
    width: min(20vw, 8rem);
}
